gunicorn
psycopg2
gdown
click
flask
jinja2
markupsafe
itsdangerous
flask_cors
werkzeug
torch==1.6.0
torchvision==0.7.0
pandas
fuzzywuzzy
Pillow
opencv-python-headless==4.2.0.32
scikit-image
pytesseract
